:root{
	--clr1: #333533;
	--clr2: #242423;
	--clr3: #F5CB5C;
	--clr4: #E8EDDF;
	--clr5: #CFDBD5;
}

html{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background:var(--clr5);

  }
  h1 {
	  color: rgb(48, 48, 48);
	  font-family:'Playfair Display';
	  font-size: 5.5rem;
	  font-weight: 900;
	  line-height: 62px;
	
	/* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Lobster', cursive; */
  }  
  p {
	  color: var(--clr1);
	  font-weight: 400;
	  font-size: 1.3rem;
	  line-height: 30px;
	  margin-bottom: 24px;
	  max-width: 80%;
	  padding-top:40px;
   font-family: 'Lobster', cursive;
   opacity:0.9;
  }
  
  a {
	  color:var(--clr1);
	  display: inline-block;
	  font-family: 'Source Sans Pro';
	  font-size: 14px;
	  font-weight: 500;
	  letter-spacing: 1px;
	  line-height: 24px;
	  text-decoration: none;
	  text-transform: uppercase;
  }
  
  a:hover {
	  color: #fff;
	 
  }


.main-wrap{
	
}


/* landing page */
h1,h2{
	margin:0;
	padding:0;
}


.container {
	min-height: 100vh;
	width:100%;
	background:#F5CB5C;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}

.main-slide{
	
	text-align: center;
	padding: 20% 30px;
	width:80%;
	flex:4;
	display:flex;
	flex-direction: column;
	align-items: center;	
}
.main-slide p{
	text-align: center;
}

/* menu likes */

.like-menu{

	background: var(--clr3);
	width:300px;
	margin-bottom: 5%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	flex:1;
}
.like-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.like-menu li{
	flex: 1;
	padding:0 20px;
	
}
.category-menu{
	width:300px;
	flex:1;
	
	
}
.category-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	padding: 0;
}

/* cards */

.cards{
 max-width:360px;
 height: 2000px;
 display:grid;
 grid-template-columns: 320px;
 grid-template-rows: auto;
 margin: 20px auto;
 align-items: baseline;
justify-content: center;
background:var(--clr5);
grid-row-gap: 50px;


}
.card{
	width:320px;
	height: auto;
	color:var(--clr2);
	position: relative;
	
	
	
}
.card img{
	width:100%;
	height: 500px;
}
.overlay{
	width: 100%;
	height: 500px;
	position: relative;
	margin-bottom: 20px;
	
}
.strip{
	height: 100px;
	width:100%;
	background: var(--clr4);
	position: absolute;
	left:0;
	bottom:0;
}
.strip .like-menu {
	background: transparent;
	display:flex;
	justify-content: center;
	height: 100px;
}
.cards-title{
	max-width:320px;
	margin:40px auto;
	font-size: 3rem;
	color:var(--clr2);
	
}
.cards-title::before{
	content: '\f005 ';
	font-family: "FontAwesome";
	
	
}

.top-bar{
	position: absolute;
	top:20px;
	right:30px;
	color:var(--clr1);
	z-index:9999;
	
}
.search{
	display:flex;
	justify-content: center;

	flex-direction: column;
	align-items: center;
}


/* menu bar  */


/* .all-overlay{
	background: red;
	position: fixed;
	top:-100%;
	left:0;
	z-index: 999;
	width:100%;
	height: 100%;
	transition: all 2s ease-in-out;
	
	
} */










@media(min-width:660px){

	.cards{
		max-width:660px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px;
		grid-column-gap: 10px;
		grid-template-rows: auto;
		margin: 20px auto;
	
	   justify-content: center;
	   background:var(--clr5);
	   }
	   .cards-title{
		max-width:680px;
		padding-left:20px;
	   }
	   .main-slide p{
		font-size:2.2rem;
		max-width: 60%;
	
	}

}

@media(min-width:980px){

	.cards{
		max-width:960px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px 320px;
		grid-template-rows: auto;
		margin: 20px auto;
	   justify-content: center;
	   background:var(--clr5);
	   }
	   .cards-title{
		max-width:1000px;	
	}
	.main-slide h1{
		font-size:8rem;
	}
	.main-slide p{
		font-size:1.8rem;
		max-width: 60%;
	
	}
	  
}

@media(min-width:1340px){

	.cards{
		max-width:1290px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px 320px 320px;
		grid-template-rows: auto;
		margin: 20px auto;
	   justify-content: center;
	   background:var(--clr5);	   
	   }
	   .cards-title{
		max-width:1340px;
		
	}
	.main-slide h1{
		font-size:10rem;
	}
	.main-slide p{
		font-size:2.2rem;
		max-width: 40%;
	
	}
	  
}