:root{
	--clr1: #333533;
	--clr2: #242423;
	--clr3: #F5CB5C;
	--clr4: #E8EDDF;
	--clr5: #CFDBD5;
}

html{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background:var(--clr5);

  }  
.main-wrap  h1 {
	color: rgb(48, 48, 48);
	font-family:'Playfair Display';
	font-size: 5.5rem;
	font-weight: 900;
}
.main-wrap p {
	color: var(--clr1);
	font-weight: 400;
	font-size: 1.3rem;
	max-width: 80%;
 font-family: 'Lobster', cursive;
 opacity:0.9;
}

	



/* landing page */
h1,h2{
	margin:0;
	padding:0;
}


.container {
	min-height: 100vh;
	width:100%;
	background:#F5CB5C;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}

.main-slide{
	
	text-align: center;
	padding: 20% 30px;
	width:80%;
	flex:4;
	display:flex;
	flex-direction: column;
	align-items: center;	
}
.main-slide p{
	text-align: center;
}

/* menu likes */

.like-menu{

	background: var(--clr3);
	width:300px;
	margin-bottom: 5%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	flex:1;
}
.like-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.like-menu li{
	flex: 1;
	padding:0 20px;
	
}
.category-menu{
	width:100%;
	flex:1;	
	padding:5%;
	box-sizing: border-box;
}
.category-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	padding: 0;
}
.category-menu li{
	background:var(--clr3);
	padding:5px 10px;
	border-radius:10px;
}

/* cards */

.cards{
 max-width:360px;
 height: 2000px;
 display:grid;
 grid-template-columns: 320px;
 grid-template-rows: auto;
 margin: 20px auto;
 align-items: baseline;
justify-content: center;
background:var(--clr5);
grid-row-gap: 50px;


}
.card{
	width:320px;
	height: auto;
	color:var(--clr2);
	position: relative;
	
	
	
}
.card img{
	width:100%;
	height: 500px;
}
.overlay{
	width: 100%;
	height: 500px;
	position: relative;
	margin-bottom: 20px;
	
}
.strip{
	height: 100px;
	width:100%;
	background: var(--clr4);
	position: absolute;
	left:0;
	bottom:0;
}
.strip .like-menu {
	background: transparent;
	display:flex;
	justify-content: center;
	height: 100px;
}
.cards-title{
	max-width:320px;
	margin:40px auto;
	font-size: 3rem;
	color:var(--clr2);
	
}
.cards-title::before{
	content: '\f005 ';
	font-family: "FontAwesome";
	
	
}

.top-bar{
	position: absolute;
	top:20px;
	right:30px;
	color:var(--clr1);
	z-index:9999;
	cursor: pointer;
	
}
.search{
	height: 100%;
	padding-top:20%;
	display:flex;
	margin:0 auto;
	flex-direction: column;
	align-items: center;
	width:320px;
}
.search .like-menu{
	background:var(--clr5);
}
.search-list{
	display:flex;
	flex-direction: column;
	margin:20px auto;
	width:100%;
	align-items: center;
	

}
.input{
	width:320px;
	height: 50px;
	border:0;
	background:var(--clr4);
	font-size: 1.2em;
	color:var(--clr2);
	padding-left: 3%;
	box-sizing: border-box;

}
.item {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding:10px 4%;
	width:100%;
	margin:5px 0;
	grid-column-gap: 5%;
	background: var(--clr4);
	color:var(--clr2);
	box-sizing: border-box;
	
}
.item-author{
	font-size:0.8em;
	
	
}
.item-title{
  font-size:1em;
}
.item:hover{
	background: var(--clr3);
}
/* menu bar  */


.single-card{
	background:var(--clr4);
	display:grid;
	align-content: center;
	grid-template-columns:1fr;
	grid-template-rows: 600px 1fr ;
	
	
}
.single-card h1{
	color: var(--clr2);
	font-family:'Playfair Display';
	font-size: 3.5rem;
	font-weight: 900;
}
.single-card p{
	font-family: 'Segoe UI', 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--clr1);
	font-weight: 400;
	font-size: 1.3rem;
 opacity:0.9;
}
.book{
	background:var(--clr3);
	display:flex;
	justify-content: center;	
}
.book img{
	width:320px;
	height: 500px;
	padding:20px 0 0;
	
}
.book-text{
	background:var(--clr4);
	width:320px;
	padding:20px 0;
	box-sizing: border-box;
	margin:0 auto;
	
	
}



@media(min-width:660px){

	.cards{
		max-width:660px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px;
		grid-column-gap: 10px;
		grid-template-rows: auto;
		margin: 20px auto;
	
	   justify-content: center;
	   background:var(--clr5);
	   }
	   .cards-title{
		max-width:680px;
		padding-left:20px;
	   }
	   .main-slide p{
		font-size:2.2rem;
		max-width: 60%;
	
	}
	.search{
		height: 100%;
		padding-top:10%;
		display:flex;
		margin:0 auto;
		flex-direction: column;
		align-items: center;
		width:640px;
	}
	.input{
		width:640px;
		height: 70px;	
		font-size: 1.3em;
	}

}

@media(min-width:980px){

	.cards{
		max-width:960px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px 320px;
		grid-template-rows: auto;
		margin: 20px auto;
	   justify-content: center;
	   background:var(--clr5);
	   }
	   .cards-title{
		max-width:1000px;	
	}
	.main-slide h1{
		font-size:8rem;
	}
	.main-slide p{
		font-size:1.8rem;
		max-width: 60%;
	
	}
	  
}

@media(min-width:1340px){

	.cards{
		max-width:1290px;
		display:grid;
		height: auto;
		grid-template-columns: 320px 320px 320px 320px;
		grid-template-rows: auto;
		margin: 20px auto;
	   justify-content: center;
	   background:var(--clr5);	   
	   }
	   .cards-title{
		max-width:1340px;
		
	}
	.main-slide h1{
		font-size:10rem;
	}
	.main-slide p{
		font-size:2.2rem;
		max-width: 40%;
	
	}
	.single-card{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		align-content: center;
		height:100vh;
		background:url('../back.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
	}
	  
}