body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background:black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
	color: #fff;
	font-family: 'Playfair Display';
	display: inline-block;
	font-size: 74px;
	font-weight: 900;
	line-height: 60px;
  margin-bottom: 52px;
  /* font-family: 'Dancing Script', cursive; */
/* font-family: 'Lobster', cursive; */
}

h1:after {
	background: #fff;
	content: '';
	display: block;
	height: 8px;
	margin-top: 12px;
}

p {
	color: #fff;
	/* font-family: 'Source Sans Pro'; */
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 24px;
  max-width: 380px;
 font-family: 'Lobster', cursive;
}

a {
	color: #999;	border-bottom: 2px solid #666;
	display: inline-block;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}

font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;